<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        json data
    </title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
    <%- body%>
</body>
</html>